<nav>
  <a class="logo" href="#">Logo</a>
  <ul>
    <li><a href="#">Change Password</a></li>
    <li><a href="#">View Past Results</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</nav>

<div class="game_view">
  <div class="question">
  
  </div>  

  <form action="/game" method="POST">
    <input type="text" name="answer">
    <input type="submit" value="Submit">
  </form>
</div>
