
<nav>
  <a class="logo" href="/welcome">Logo</a>
  <ul>
    <li><a href="/results/<%= session[:id]%>">View Past Results</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>


<div class="game_view">
  <div class="question">
    <%= @card.question %>
  </div>  

  <form action="/card/<%= @game.id %>/<%= @card.id %>" method="POST">
    <input type="text" name="answer">
    <input type="submit" value="Submit">
  </form>
</div>
