
<div class="signup">
<form action="/signup" method="POST" >
  <h2>Sign Up Here!</h2>
  <% if @user && @user.errors.any? %>
  <%= erb :_errors, layout: false %>
  <% end %>
  <input type="text" name="user[name]" placeholder="Name">
  <input type="text" name="user[email]" placeholder="Email Address">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" class="signup_confirm">
</form>
</div>
