
<nav class="nav_bar">
  <a class="logo" href="/welcome">Logo</a>
  <ul>
    <li><a href="/results/<%=session[:id]%>">View Past Results</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>


<h1>Welcome User!</h1>

  <% if @game && @game.deck.errors.any? %>
  <%= erb :_errors, layout: false %>
  <% end %>

<h2>Select a Deck!</h2>
<ul class="game">
  <% @decks.each do |deck| %>
  <li><a href="http://localhost:9393/game/<%= deck.id %>"><%= deck.name %></a></li>
  <% end %>
</ul>

